extends form

block form-content
    div.container-fluid
        -if(args.target != undefined)
            div.row
                div.col-sm-1
                div.col-sm-7
                    form#script-target(action=`${args.target}`, method='POST', enctype="multipart/form-data")
                        input(type='hidden', name='state', value=args.vals ? 'update' : 'new')
                        each type, name in args.form
                            -val = ''
                            -if(args.vals)
                                -val = args.vals[name]
                            +formRow(type, name, args.labels[name], args.arrs, val)
                    div.row.mb-2
                        div.col-sm-5
                        div.col-sm-6.p-0
                            button.btn.gd-color(onclick=`putPostToAPI('${baseURL}', '${args.target}', 'PUT', true)`)= args.update ? 'Update' : 'Add'
                        div.col-sm-1
                div.col-sm-3
                    -if(huePresent)
                        +hueBox()
                div.col-sm-1
            block scripts