extends layout

block layout-content
    -if(args.cancel != undefined)
        form(action="../search", method='POST')
            input(type='hidden', name='del', value=args.delete)
            div.text-center
                a.btn.ct-color.ms-2.me-2(href=`${baseURL}${args.cancel}`) Cancel
                input.btn.er-color.ms-2.me-2(type='submit', value='Delete')
                