extends layout

block layout-content
    -if(args.cancel != undefined)
        form(action="../search", method='POST')
            input(type='hidden', name='del', value=args.delete)
            div.buttonRow
                a#cancelButton.button(href=`${baseURL}${args.cancel}`) Cancel
            div.buttonRow
                input.deleteButton.button(type='submit', value='Delete')