extends layout

block layout-content
    -if(args.cancel != undefined)
        form(action="../search", method='POST')
            input(type='hidden', name='del', value=args.delete)
            div.buttonRow
                a.button.message(href=`${baseURL}${args.cancel}`) Cancel
                input.button.delete(type='submit', value='Delete')
                