extends layout

block layout-content
    -if(user == undefined)
        div.row
            div.col-sm-2
            div#loginBox.col-sm-8
                form(action='/login', method='post')
                    h1 Log In
                    div.row
                        div.col-sm-3
                        div.col-sm-2.labelCol Username
                        div.col-sm-3.fieldCol
                            input.field(type="text" name="uname")
                        div.col-sm-4
                    div.row
                        div.col-sm-3
                        div.col-sm-2.labelCol Password
                        div.col-sm-3.fieldCol
                            input.field(type="password" name="pass")
                        div.col-sm-4
                    div.row
                        div.col-sm-3
                        div.col-sm-5.submitCol
                            input.button.create(type="submit" value="Login")
                        div.col-sm-4
            div.col-sm-2