extends layout

block layout-content
    -if(user == undefined)
        div.container-fluid
            div.row
                div.col-sm-2
                div.col-sm-8.box.p-4.text-center
                    form(action='/login', method='post')
                        h1 Log In
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Username
                            div.col-sm-3.fieldCol
                                input.field.form-control(type="text" name="uname")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Password
                            div.col-sm-3.fieldCol
                                input.field.form-control(type="password" name="pass")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-5.submitCol
                                input.btn.gd-color(type="submit" value="Login")
                            div.col-sm-4
                div.col-sm-2