extends layout

block layout-content
    div.container-fluid
        div.row
            div.col-sm-2
            div.col-sm-8.box.p-4.text-center
                form(action=`/login/${args.set ? 'set' : 'change'}`, method='post')
                    -if(args.set)
                        h1 Set Password
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Username
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="text" name="uname")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Password
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="password" name="pass1")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Re-Enter Password
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="password" name="pass2")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-5.submitCol
                                input.btn.gd-color(type="submit" value="Set")
                            div.col-sm-4
                    -else
                        h1 Change Password
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Current Password
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="password" name="oPass")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol New Password
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="password" name="nPass1")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-2.labelCol Re-Enter Password
                            div.col-sm-3.fieldCol
                                input.form-control.field(type="password" name="nPass2")
                            div.col-sm-4
                        div.row.mb-2
                            div.col-sm-3
                            div.col-sm-5.submitCol
                                input.btn.gd-color(type="submit" value="Update")
                            div.col-sm-4
            div.col-sm-2