extends form

block form-content
    div.container-fluid
        div.row.mb-2
            div.col-sm-2
            div.col-sm-8
                form#script-target(action=`/api/admin/${args.set ? 'activate' : 'passChange'}`, method='POST', enctype="multipart/form-data")
                    -if(args.set)
                        h1.text-center Set Password
                        +formRow(`text${args.username ? '/dis' : ''}`, 'uname', 'Username', null, args.username ? args.username : '')
                        +formRow('password', 'pass1', 'Password', null, '')
                        +formRow('password', 'pass2', 'Re-Enter Password', null, '')
                    -else
                        h1.text-center Change Password
                        +formRow('password', 'oPass', 'Current Password', null, '')
                        +formRow('password', 'nPass1', 'New Password', null, '')
                        +formRow('password', 'nPass2', 'Re-Enter Password', null, '')
            div.col-sm-2
        div.row
            div.col-sm-2
            div.col-sm-8.row
                div.col-sm-5
                div.col-sm-7
                    button.btn.gd-color(onclick=`putPostToAPI('${baseURL}', '/api/admin/${args.set ? 'activate' : 'passChange'}', 'PUT')`)= args.set ? 'Set Password' : 'Change Password'
            div.col-sm-2