div.displayImg {
    text-align: center;
}
div.displayBox {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: var(--border);
}
div#options a.button {
    margin-right: 1em;
}
embed.displayWindow {
    width: 90%;
    height: 70vh;
}
h3.infoHeading {
    margin-top: 0.75em;
}