table.displayTable {
    width: 100%;
}
td.displayImg {
    vertical-align: top;
    text-align: center;
}
td.displayTags {
    width: 33%;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: var(--border);
}
div#options a.button {
    margin-right: 1em;
}
embed.displayWindow {
    width: 90%;
    height: 70vh;
}