:root {
    --bacground: #202020;
    --content: #303030;
    --header: #101010;
    --foreground: #f0f0f0;
    --error: #603030;
    --success: #306030;
    --message: #505050;
    --border: var(--foreground), thin, solid;
}

.bg-color {
    background-color: var(--bacground);
    color: var(--foreground);
}
.hd-color {
    background-color: var(--header);
    color: var(--foreground);
}
.ct-color {
    background-color: var(--content);
    color: var(--foreground);
}
.gd-color {
    background-color: var(--success);
    color: var(--foreground);
}
.er-color {
    background-color: var(--error);
    color: var(--foreground);
}
.ms-color {
    background-color: var(--message);
    color: var(--foreground);
}
.field {
    --bs-body-bg: var(--content);
    --bs-body-color: var(--foreground);
}

a {
    color: var(--foreground);
}

.btn-selected {
    color: var(--foreground);
}

.box {
    border: var(--border);
}

.bg-item {
    cursor: default;
}

.width-full {
    width: 100%;
}

.width-snug {
    width: 90%;
}

.tall-embed {
    height: 75vh;
}