:root {
    --border: hsl(var(--foreground)), thin, solid;
    

    --bs-body-color: hsl(var(--foreground));
    --bs-body-bg: hsl(var(--bacground));
    --bs-primary-rgb: var(--header);
    --bs-link-color-rgb: var(--link);
    --bs-link-hover-color-rgb: var(--link-h);
    --bs-dropdown-link-hover-bg: hsl(var(--content));
    --bs-dropdown-link-active-bg: hsl(var(--content));
    --bs-dropdown-link-active-color: hsl(var(--bacground));
}

.ct-color {
    background-color: hsl(var(--content));
}
.ct-color:hover {
    background-color: hsl(var(--content-h));
}
.gd-color {
    background-color: hsl(var(--success));
}
.gd-color:hover {
    background-color: hsl(var(--success-h));
}
.er-color {
    background-color: hsl(var(--error));
}
.er-color:hover {
    background-color: hsl(var(--error-h));
}
.ms-color {
    background-color: hsl(var(--message));
}
.ms-color:hover {
    background-color: hsl(var(--message-h));
}
.field {
    --bs-body-bg: hsl(var(--content));
    --bs-tertiary-bg: hsl(var(--content));
    --bs-secondary-bg: hsl(var(--content-h));
}

.box {
    border: var(--border);
}

.bg-item {
    cursor: default;
}

.width-full {
    width: 100%;
}

.width-snug {
    width: 90%;
}

.tall-embed {
    height: 75vh;
}