table.displayTable {
    margin-left: auto;
    margin-right: auto;
}
td.display {
    width: 33vw;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: var(--border);
}
div#options a.button {
    margin-right: 1em;
}